*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #040507;
    color:#f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24xp 0;
}

.cabecalho-imagem{
   width: 24%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}